<footer class="footer">
  <small>
    本社区由<a href="http://rubyonrails.org/">ROR5</a>强力驱动
  </small>

  <nav>
    <ul>
      <li><%= link_to 'About', about_path %></li>
      <li><%= link_to 'Contact', contact_path %></li>
      <li><a href="http://rubyonrails.org/">News</a></li>
    </ul>
  </nav>
</footer>